Task_4_Factorial/.vs
Task_4_Factorial/Task_4_Factorial.sln
Task_4_Factorial/Task_4_Factorial/Task_4_Factorial.csproj
Task_4_Factorial/Task_4_Factorial/App.config
Task_4_Factorial/Task_4_Factorial/Properties
Task_4_Factorial/Task_4_Factorial/obj
Task_4_Factorial/Task_4_Factorial/bin/Debug/Task_4_Factorial.pdb
Task_4_Factorial/Task_4_Factorial/bin/Debug/Task_4_Factorial.exe.config